/* фон-колір:
- білий основний #F5F5F5;
- білий header #FFFFFF; rgba(255, 255, 255, 1)
- білий наша команда #F5F4FA (?????);
- чорний герой; чорний footer #2F303A; rgba(47, 48, 58, 1) 
текст-колір:
- сірий #757575; rgba(117, 117, 117, 1)
- чорний #212121; rgba(33, 33, 33, 1)
- синій #2196F3; rgba(33, 150, 243, 1)
- білий #FFFFFF; rgba(255, 255, 255, 1)
- чорний лого #000000; rgba(0, 0, 0, 1)
текст-стиль:
- лого і кнопка герой Raleway Bold
- герой h1 Roboto Black
- h2, h3 Roboto Bold
- header, заголовок зображень Roboto Medium
- опис зображень, footer адреса, footer контакти Roboto Regular */

/* Розділ відключення */

ul {
    list-style: none;
}

/* видаляти позначки списків, підкрелення і т.п. можна через
присвоєння утіліти : none; і присвоєння її там, де потрібна відповідна відміні
наприклад, в нашому випадку в CSS це буде виглядати так:
.list {list-style: none;}
а в html так: <ul class="list"></ul>
відповідно, всі списки із class="list" будуть очищені від позначок */

.logo,
.link,
.contacts {
    text-decoration: none;
}

.bloc-title-none {
    display: none;
}

/* Розділ кастомних властивостей і CSS змінних */

:root {
    --main-background-color: #FFFFFF;
    --second-background-color: #2F303A;
    --third-background-color: #F5F4FA;
    --main-text-color: #757575;
    --title-text-color: #212121;
}

/* Розділ загальне оформлення найбільш вживаних властивостей, 
які розповсюджуються на весь сайт */

body {
    background-color: var(--main-background-color);
    font-family: Roboto, sans-serif;
    color: var(--main-text-color);
    font-size: 14px;
}

/* Розділ оформлення хедера, навігації по сайту і фільтру */

.logoweb {
    color: #2196F3;
}

.logostudio {
    color: #000000;
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.site-nav {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link {
    color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: #2196F3;
}

.filter-nav .click {
    background-color: #F5F4FA;
    font-family: Roboto, sans-serif;
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
}

.filter-nav .click:hover,
.filter-nav .click:focus {
    background-color: #2196F3;
    color: #FFFFFF;
    cursor: pointer;
}

.site-contacts {
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-contacts .contacts {
    color: #757575;
}

.site-contacts .contacts:hover,
.site-contacts .contacts:focus {
    color: #2196F3;
}

/* Розділ оформлення героя */

.hero {
    background-color: var(--second-background-color);
}

.hero h1 {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
}

.hero .hero-button {
    cursor: pointer;
    background-color: #2196F3;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

/* Розділ внутрішньо-секційного оформлення */

.title-item,
.title-team,
.subtitle-feature,
.subtitle-team,
.subtitle-portfolio {
    color: var(--title-text-color);
}

.title-item,
.title-team {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.subtitle-feature {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.text-feature {
    /* N.B. font-weight: 400; - додано від браузера, прописувати не треба*/
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.bloc-team {
    background-color: var(--third-background-color);
}

.subtitle-team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.text-team {
    /* N.B. font-weight: 400; - додано від браузера, прописувати не треба*/
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.subtitle-portfolio {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.text-portfolio {
    /* N.B. font-weight: 400; - додано від браузера, прописувати не треба*/
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

/* Розділ оформлення футера */

footer {
    background-color: var(--second-background-color);
}

footer .logostudio {
    color: #FFFFFF;
}

footer .address {
    font-style: normal;
    color: #FFFFFF;
    line-height: 1.71;
    letter-spacing: 0.03em;
}